<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-toolbar></app-toolbar>
  <div *ngIf="projects.length">
    <app-project  *ngFor="let project of projects" [project]="project"></app-project>
  </div>
  <div *ngIf="!projects.length" class="app-todo-warning">
    <p>{{"Projects not found!" | uppercase}}</p>
    <p>Click to "+" to add new project</p>
  </div>
  <button md-fab class="project-add-button" (click)="createProject()"><md-icon>add</md-icon></button>
</div>
